@import "reset.scss";
@import "home.scss";
@import "colors.scss";
@import "moode.scss";
@import "nike.scss";
@import "TNF.scss";
@import "SF.scss";
@import "Player.scss";
@import "Primitiv.scss";
@import "autres.scss";

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: none;
}