@import "reset.scss";
@import "home.scss";
@import "colors.scss";
@import "moode.scss";
@import "nike.scss";
@import "TNF.scss";
@import "SF.scss";
@import "Player.scss";
@import "Primitiv.scss";
@import "autres.scss";


body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  overflow-x: hidden;

  body::-webkit-scrollbar {
    width: 0em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: none;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: none;
  }
}