.benearticle1{
  width: 910px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;

  &__title{
    margin-top: 2%;
  }
  &__line{
    width: 600px;
    border-bottom: solid 1px #1D1D1D;
    margin-top: 5%;
  }
}

.bene_display{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  &__img{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.bene_description{
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  text-align: center;
  line-height: 200%;
}

.bene_displayphone{
  width: 1200px;
  flex-wrap: wrap;
  overflow: hidden;

  &__pic1{
    position: relative;
    left: 2%;
  }
  &__pic2{
    position: absolute; 
    left: 55%;
  }
  &__pic3{
    position: relative;
    top: -10%;
    left: 22%;
  }
  &__pic4{
    position: absolute; 
    left: 48%;
    top: 490%;
  }
}