

.nikearticle1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 1200px;

    img{
      margin-bottom: 10%;
    }
    &__text{
      margin-top: 40px;
      line-height: 160%;
      position: relative; 
    }
    &__texts{
      width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
}

.logo{
  position: absolute;
  top: 220%;
  left: 0;
  z-index: 10;
}

.nikearticle2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 1200px;

  &__texts{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    line-height: 160%;
  }

  &__line{
    border: 1px solid black;
    margin-top:20px ;
    margin-bottom:40px;
  }
  &__title{
    margin-top: 40px;
  }
}



.text{
    height: 250px;
}

.travis{
  width: 100%;
  display: flex;
  position: relative;

  &__pic{
    position: absolute;
    top: -50%;
    left: -5%;
    z-index: 2;
  }

  &__text{
    width: 1460px;
    margin-right: auto;
    margin-left:20%;
    align-items: center;
  }
}