

.nikearticle1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 1200px;

  img{
    margin-bottom: 10%;
  }
  &__text{
    margin-top: 40px;
    line-height: 160%;
  }
  &__texts{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nikearticle2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 1200px;

  &__texts{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    line-height: 160%;
  }

  &__line{
    border: 1px solid black;
    margin-top:20px ;
    margin-bottom:40px;
  }
  &__title{
    margin-top: 40px;
  }
}

.logo{
  top: 170%;
  left: 5%;
  position: absolute;
  z-index: 1;
}

.text{
    height: 250px;
}

.travis{
  width: 100%;
  overflow: hidden;
  display: flex;

  &__pic{
    position: absolute;
    top: 306%;
    z-index: 8;
  }

  &__text{
    width: 1460px;
    margin-right: auto;
    margin-left:20%;
    align-items: center;
  }
}