.player{
  background-color: #1d1d1d;
  color: white;
  font-size: 18px;
}

.text_player{
  width: 100%;
  height: 360px;
  padding-top: 6%;
  text-align: center;
  align-items: center;
  font-size: 16px;
  color: #1D1D1D;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  line-height: 200%;

  p{
    width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
}

.playerarticle1{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  

  &__title{

  }

  &__line{
    border: 1px solid white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 600px;
  }
}